.inline-radio {
	display: inline-block;
	vertical-align: top;
	margin: 5px 30px 5px 0;
	min-width: 60px;
}

label input[type="checkbox"] {
	position: absolute;
	top: 0;
	visibility: hidden;

	+ span,
	+ a {
		position: relative;
		display: block;
		margin: 0;
		padding-left: 18px;
		font-size: 0.75rem;
		line-height: 1.2;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
		}

		&::before {
			left: 0;
			top: 0.6em;
			margin-top: -6px;
			z-index: 1;
			width: 11px;
			height: 11px;
			border: 1px solid #e8e8e8;
			border-radius: 50%;
			background-color: #f5f5f5;
		}
	}

	&:checked + span,
	&:checked + a {
		&::before {
			border: 1px solid #4bbcdd;
		}

		&::after {
			display: block;
		}
	}
}