footer
  .container
    .to-up
      svg(width="40" height="54" viewBox="0 0 40 54" fill="none")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M38.4784 18.2845C39.4132 18.2845 39.8368 17.116 39.1193 16.5169L20.4143 0.89842C20.0432 0.588548 19.5036 0.588547 19.1324 0.89842L0.427465 16.5169C-0.290091 17.116 0.13359 18.2845 1.0684 18.2845H2.97015C3.20442 18.2845 3.43126 18.2022 3.61108 18.0521L19.1324 5.0919C19.5036 4.78203 20.0432 4.78203 20.4143 5.0919L35.9357 18.0521C36.1155 18.2022 36.3423 18.2845 36.5766 18.2845H38.4784Z")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M38.4784 35.6487C39.4132 35.6487 39.8368 34.4803 39.1193 33.8812L20.4143 18.2627C20.0432 17.9528 19.5036 17.9528 19.1324 18.2627L0.427465 33.8812C-0.290091 34.4803 0.13359 35.6487 1.0684 35.6487H2.97015C3.20442 35.6487 3.43126 35.5665 3.61108 35.4163L19.1324 22.4562C19.5036 22.1463 20.0432 22.1463 20.4143 22.4562L35.9357 35.4163C36.1155 35.5665 36.3423 35.6487 36.5766 35.6487H38.4784Z")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M38.4784 53.014C39.4132 53.014 39.8368 51.8455 39.1193 51.2464L20.4143 35.6279C20.0432 35.318 19.5036 35.318 19.1324 35.6279L0.427465 51.2464C-0.290091 51.8455 0.13359 53.014 1.0684 53.014H2.97015C3.20442 53.014 3.43126 52.9317 3.61108 52.7816L19.1324 39.8214C19.5036 39.5115 20.0432 39.5115 20.4143 39.8214L35.9357 52.7816C36.1155 52.9317 36.3423 53.014 36.5766 53.014H38.4784Z")
    .footer.footer-login
      .row
        .col-xl-8.col-lg-7.col-md-8.col-sm-7
          .row
            .col-xl-3.col-lg-5.col-md-5.col-sm-5
              +svg("logo-white").logo
            .col-xl-9.col-lg-7.col-md-7.col-sm-7
              .row.nav
                .col-xl-4.col-lg-6.col-md-6
                  a.nav-link(href="#") О проекте 
                .col-xl-4.col-lg-6.col-md-6
                  a.nav-link(href="#") Партнерам
                .col-xl-4.col-lg-6.col-md-6
                  a.nav-link(href="#") Тарифы
                .col-xl-4.col-lg-6.col-md-6
                  a.nav-link(href="#") Отзывы
                .col-xl-4.col-lg-6.col-md-6
                  a.nav-link(href="#") Вопросы и ответы
                .col-xl-4.col-lg-6.col-md-6
                  a.nav-link(href="#") Контакты

        .col-xl-8.col-lg-9.col-md-8.col-sm-7.d-sm-none
          .row.align-items-center
            .col-xl-9.col-lg-8.col-md-12.col-sm-12.order-sm-1
              .row
                .col-md-6
                  a.btn.btn-primary.text-uppercase.w-100.text-white(href="#") Инвестировать
                .col-md-6.mt-30
                  a.btn.btn-outline-success.w-100.text-white(href="#") Разместить займ
            .col-xl-3.col-lg-4.col-md-4.order-sm-0
              .footer-social
                a(href="#")
                  +svg("ic-fb")(width="11" height="19")
                a(href="#")
                  +svg("ic-vk")(width="25" height="15")
                a(href="#")
                  +svg("ic-instagram")(width="19" height="20")

        .col-xl-4.col-lg-5.col-md-4.col-sm-5.text-center
          .row
            .col-md-12
              span.fsn24 Проект «ФСН24» © 2020—2020
              hr
              span Россия г.&nbsp;Москва, ул.&nbsp;Первая д.&nbsp;3 стр.&nbsp;1 
          .row
            .col-lg-6.col-md-12.tel
              a.text-white(href="tel:+7(499) 369-15-26") +7(499) 369-15-26
            .col-lg-6.col-md-12.tel
              a.text-white(href="tel:+7(499) 369-15-26") +7(499) 369-15-26
          .row.d-xl-none
            .col-md-12
              a.text-white(href="mailto:FSN24@gmail.com") mail: FSN24@gmail.com
          .row.d-xl-none
            .col-sm-12.text-center.d-md-none
              a.btn.btn-outline-primary.text-white.w-100.order(href="#") Заказать звонок

      .row.mt-0.mt-md-10.d-none.d-sm-flex
        .col-xl-8.col-lg-9.col-md-8.col-sm-7
          .row.align-items-center
            .col-xl-9.col-lg-8.col-md-12.col-sm-12.order-sm-1
              .row
                .col-md-6
                  a.btn.btn-primary.text-uppercase.w-100.text-white(href="#") Инвестировать
                .col-md-6.pt-40.pt-md-0
                  a.btn.btn-outline-success.w-100.text-white(href="#") Разместить займ
            .col-xl-3.col-lg-4.col-md-4.order-sm-0
              .footer-social
                a(href="#")
                  +svg("ic-fb")(width="11" height="19")
                a(href="#")
                  +svg("ic-vk")(width="25" height="15")
                a(href="#")
                  +svg("ic-instagram")(width="19" height="20")
        .col-xl-4.col-lg-3.col-md-4.col-sm-5
          .row.align-items-center
            .col-xl-6.col-lg-12.col-md-12.d-none.d-xl-block
              small
                a.text-white(href="mailto:FSN24@gmail.com") mail: FSN24@gmail.com
            .col-xl-6.col-lg-12.col-md-12.text-center.d-none.d-md-block
              a.btn.btn-outline-primary.text-white.w-100.order(href="#") Заказать звонок
            .col-sm-12.text-center.d-md-none
              p.m-0.mt-2 Отправляя любую форму на сайте, вы соглашаетесь #[a.text-cyan(href="#") с политикой конфиденциальности] данного сайта.

      .row
        .col-xl-4.col-lg-5.col-md-4.d-sm-none.d-md-block.order-sm-1
          .text-center
            p Отправляя любую форму на сайте, вы соглашаетесь #[a.text-cyan(href="#") с политикой конфиденциальности] данного сайта.
        .col-xl-8.col-lg-7.col-md-8.col-sm-12.order-sm-0
          .row.text-center
            .col-xl-9.col-lg-6.col-md-6.col-sm-9.offset-lg-2.order-sm-1
              span Copyright © Проект «ФСН24». Все права защищены.
            .col-xl-3.col-lg-3.col-md-6.col-sm-3.order-sm-0
              a.sitemap(href="#") Карта сайта
