extends pug/base-auth

append vars
	- html.classList.push('page-registration')

block content
	section.pt-60.pt-sm-80.pt-md-65.pt-lg-80.pt-xl-100.pb-55.pb-sm-60.pb-md-45.pb-xl-7
		.container.text-center
			.row.justify-content-center
				.col-lg-8.col-sm-10
					.card
						.card-body.p-40
							.row.justify-content-center
								.col-xl-10.col-lg-10.col-md-10.text-center
									+svg("envelope")(width="182" height="129")
									h5.mt-15.mt-xl-25.mb-30 Подтверждение почты
									p.mb-35.mb-sm-45 Вы успешно зарегистрировались в Финансовой социальной сети. Проверьте свой почтовый ящик 120236@mail.ru, найдите письмо от “ФСН24” и нажмите на ссылку, чтобы мы поняли, что Ваша почта указана верно.
									a(href="#" data-toggle="modal" data-target="#confirmationModal") Продолжить

		.modal.fade#confirmationModal(tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-body.pl-15.pr-15.pl-sm-50.pr-sm-50.text-center
						+svg("change-password")(width="162" height="112")
						h5.mt-15.mt-xl-25.mb-20 Смените пароль
						p.mb-30 В результате утечки данных на одном из сайтов или в одном из приложений Ваш пароль оказался раскрыт. Рекомендуем сменить пароль.
						.row.justify-content-center.position-relative
							.tool-tip.position-absolute(data-toggle="tooltip" data-placement="right" title="Tooltip on right")
								svg(width="18" height="18" viewBox="0 0 18 18" fill="transparent" xmlns="http://www.w3.org/2000/svg")
									path(d="M9.02954 16.02C13.0488 16.02 16.3071 12.7617 16.3071 8.74243C16.3071 4.72313 13.0488 1.46484 9.02954 1.46484C5.01024 1.46484 1.75195 4.72313 1.75195 8.74243C1.75195 12.7617 5.01024 16.02 9.02954 16.02Z" fill="transparent" stroke="#A2A3A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M9.0293 5.83203V8.74307" stroke="#A2A3A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M9.0293 11.6543H9.03716" stroke="#A2A3A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							.col-md-7.col-sm-6
								button.btn.btn-primary.btn-sm.w-100(type="button" data-dismiss="modal") ОК