extends pug/base-lk

append vars
	- html.classList.push('page-lk')

block content

	section
		.container
			nav(aria-label="breadcrumb")
				ol.breadcrumb
					li.breadcrumb-item
						a(href="/lk-personal-account.html")
							+svg("user")(width="27" height="27")
							| Мой профиль
					li.breadcrumb-item
						a(href="/lk-settings-notifications.html") Настройки
					li.breadcrumb-item.active(aria-current="page") Рассылки
	
	section.pt-20.pt-xl-0
		.container
			.row
				.col-lg-4.col-sm-12
					.row
						.col-lg-12.col-md-6
							.card.user-sidebar.mb-30
								ul.list-group.text-center
									li.list-group-item.pt-25.pb-30.border-right-0.border-left-0
										a.text-blue(href="/lk-settings-notifications.html") Рассылки
									li.list-group-item.pt-30.pb-35.border-right-0.border-left-0
										a.text-success(href="/lk-settings-notifications.html") Безопасность
									li.list-group-item.pt-30.pb-25.border-right-0.border-left-0
										a.text-danger(href="/lk-settings-notifications.html") Деактивация аккаунта
											
						.col-lg-12.col-md-6
							.card.user-nav.mb-30
								.card-body.pt-20.pr-10.pb-20.pl-10.pt-xl-25.pr-xl-30.pb-xl-15.pl-xl-30
									ul.nav.flex-column
										li.nav-item.mb-10
											a.nav-link.active(href="/lk-personal-account.html") Мой профиль
										li.nav-item.mb-10
											a.nav-link(href="#") Пользователи
										li.nav-item
											a.nav-link(href="#") Объекты залога
										li.nav-item
											a.nav-link(href="#") Уведомления 
												span.badge.badge-pill.badge-danger 3
										li.nav-item
											a.nav-link(href="#") Мои оферты
										li.nav-item
											a.nav-link(href="#") Участие в офертах
												span.badge.badge-pill.badge-danger 1
										li.nav-item
											a.nav-link(href="#") Встречные предложения
												span.badge.badge-pill.badge-danger 1
										li.nav-item
											a.nav-link(href="#") Поиск объявлений
								ul.list-group
									li.list-group-item.border-right-0.border-left-0.pt-25.pb-30
										button.btn.btn-secondary.w-100
											+svg("settings")(width="21" height="21")
											| Настройки
											
				.col-lg-8.col-sm-12
					.card.user-profile
						.card-header
							h3.card-title.m-0.text-center.w-100 Управление рассылками
						.card-body.text-center
							p На указанный e-mail и на номер телефона - sms будут отправляться уведомления о новых важных обновлений.
						ul.list-group.text-center
							li.list-group-item.pt-25.pb-30.border-right-0.border-left-0
								p.text-success *Вы успешно подписаны на все рассылки. Спасибо!
								//- input type="checkbox" class="form-check-input" id="exampleCheck1">
								//- label class="form-check-label" for="exampleCheck1">Check me out</label>
								.row.justify-content-center
									.col-md-7.pl-10.pr-10
										a.btn.btn-outline-success.w-100(href="#") Сохранить

