extends pug/base

append vars
	- html.classList.push('page-index')

block content
	
	section.reviews
		.container
			h2 Отзывы о нас
			.reviews-list

				.reviews-item
					.row.align-items-center
						.col-lg-3.col-md-4
							.reviews-item-tag
								p.chanspan Директор
							.reviews-item-title.text-center 
								b Комфортно работать с таким партнером как ФСН 24
						.col-lg-9.col-md-8
							.reviews-item-head
								.reviews-item-author 
									span Елсукова Татьяна
								.reviews-item-date 
									span 20/04/2020
								.reviews-item-text.text-md-center#review-1
									p Команда  —  профессиональная. С таким партнером комфортно работать: разрабатываются новые предложения, своевременно (в&nbsp;течении 24&nbsp;часов с&nbsp;момента запроса) предоставляется обратная связь, при необходимости осуществляется обучение со&nbsp;всеми необходимыми консультациями, оперативно разрабатываются выгодные схемы сотрудничества, потрясающе отзывчивый и&nbsp;воспитанный персонал. Результатом довольны.
								a.reviews-item-more.d-md-none(href="#")
									span Читать далее
									+svg("arrow-down")(width="13" height="8")

				hr.mb-30

				.reviews-item
					.row.align-items-center
						.col-lg-3.col-md-4
							.reviews-item-tag
								p.chanspan Best Price
							.reviews-item-title.text-center 
								b Искренне благодарим ФСН 24 за прекрасную работу!
						.col-lg-9.col-md-8
							.reviews-item-head
								.reviews-item-author 
									span Герасимов Тимур Игоревич
								.reviews-item-date 
									span 20/04/2020
								.reviews-item-text.text-md-center 
									p Совершенно случайно нашли этот замечательный портал, просчитали, оценили и решили разместиться в разделе "Дилерство". Результаты стали получать уже во второй месяц работы! Если сравнивать с другими порталами, ФСН 24 уже в достаточно короткое время осуществляет для вашего бизнеса большое количество заявок и настраивает только на положительный результат. Компания Best Price искренне благодарит ФСН 24 за прекрасную работу!
								a.reviews-item-more.d-md-none(href="#")
									span Читать далее
									+svg("arrow-down")(width="13" height="8")

				hr.mb-30
				
				.reviews-item
					.row.align-items-center
						.col-lg-3.col-md-4
							.reviews-item-tag
								p.chanspan Директор
							.reviews-item-title.text-center 
								b Комфортно работать с таким партнером как ФСН 24
						.col-lg-9.col-md-8
							.reviews-item-head
								.reviews-item-author 
									span Елсукова Татьяна
								.reviews-item-date 
									span 20/04/2020
								.reviews-item-text.text-md-center 
									p Команда  —  профессиональная. С таким партнером комфортно работать: разрабатываются новые предложения, своевременно (в&nbsp;течении 24&nbsp;часов с&nbsp;момента запроса) предоставляется обратная связь, при необходимости осуществляется обучение со&nbsp;всеми необходимыми консультациями, оперативно разрабатываются выгодные схемы сотрудничества, потрясающе отзывчивый и&nbsp;воспитанный персонал. Результатом довольны.
								a.reviews-item-more.d-md-none(href="#")
									span Читать далее
									+svg("arrow-down")(width="13" height="8")

				hr.mb-30
				
				.reviews-item
					.row.align-items-center
						.col-lg-3.col-md-4
							.reviews-item-tag
								p.chanspan Best Price
							.reviews-item-title.text-center 
								b Искренне благодарим ФСН 24 за прекрасную работу!
						.col-lg-9.col-md-8
							.reviews-item-head
								.reviews-item-author 
									span Герасимов Тимур Игоревич
								.reviews-item-date 
									span 20/04/2020
								.reviews-item-text.text-md-center 
									p Совершенно случайно нашли этот замечательный портал, просчитали, оценили и решили разместиться в разделе "Дилерство". Результаты стали получать уже во второй месяц работы! Если сравнивать с другими порталами, ФСН 24 уже в достаточно короткое время осуществляет для вашего бизнеса большое количество заявок и настраивает только на положительный результат. Компания Best Price искренне благодарит ФСН 24 за прекрасную работу!
								a.reviews-item-more.d-md-none(href="#")
									span Читать далее
									+svg("arrow-down")(width="13" height="8")
				
				hr.mb-30
				
				.reviews-item
					.row.align-items-center
						.col-lg-3.col-md-4
							.reviews-item-tag
								p.chanspan Директор
							.reviews-item-title.text-center 
								b Комфортно работать с таким партнером как ФСН 24
						.col-lg-9.col-md-8
							.reviews-item-head
								.reviews-item-author 
									span Елсукова Татьяна
								.reviews-item-date 
									span 20/04/2020
								.reviews-item-text.text-md-center 
									p Команда  —  профессиональная. С таким партнером комфортно работать: разрабатываются новые предложения, своевременно (в&nbsp;течении 24&nbsp;часов с&nbsp;момента запроса) предоставляется обратная связь, при необходимости осуществляется обучение со&nbsp;всеми необходимыми консультациями, оперативно разрабатываются выгодные схемы сотрудничества, потрясающе отзывчивый и&nbsp;воспитанный персонал. Результатом довольны.
								a.reviews-item-more.d-md-none(href="#")
									span Читать далее
									+svg("arrow-down")(width="13" height="8")

				hr.mb-45

			.reviews-nav
				span Строки на странице:
				.dropdown
					span.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 5
					.dropdown-menu(aria-labelledby="dropdownMenuButton")
						a.dropdown-item 5
						a.dropdown-item 10
						a.dropdown-item 15
				span 1-10 из 10
				.swiper-buttons
					.swiper-button.prev
						+svg("arrow-left")
					.swiper-button.next
						+svg("arrow-right")

	