* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
  letter-spacing: 0.5px;
}
body {
  display: flex;
  flex-direction: column;
}
.content { flex: 1; }

section {
  position: relative;
  max-width: 100%;
  padding: 3rem 0;
  //overflow: hidden;
  
  @media(max-width: 1199px) {
    padding: 2rem 0;
  }
}
.container {
  position: relative;
}

.text-blue {
  color: $blue;
}